# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
test-results.xml

# IDEs and editors
.vscode/
.idea/
*.swp
*~

# Environments
.env
.venv
ENV/
env/
venv/

# pyenv
.python-version

# Django stuff:
*.log
staticfiles/
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# Docker
*.log
docker-compose.yaml

# Distribution
dist/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test result reports
test_results.out

# Virtual environment
venv/
